<!-- Modal -->
<div *ngIf="show" class="fixed-top w-100 h-100 z-index-modal-background">
    <!-- Parte interna del modal -->
    <div class="rounded z-index-modal mx-auto  bg-grey" style="min-width:300px;width:70%;margin-top:2%">
        <!-- Encabezado del modal -->
        <div class="p-1 border-bottom">
            <div class="sub-titulo" *ngIf="seccion===1">Datos Básicos</div>
            <div class="sub-titulo" *ngIf="seccion===2">Cobro de despacho</div>
            <div class="sub-titulo" *ngIf="seccion===3">Impuestos del producto</div>
        </div>
        <!-- Formulario -->
        <jhi-datos-basicos *ngIf="seccion===1" [paises]="paises" [unidadesMedidas]="unidadesMedidas"
            (respuesta)="agregarDelivery($event)">
        </jhi-datos-basicos>
        <jhi-datos-delivery *ngIf="seccion===2" [paises]="paises">
        </jhi-datos-delivery>
        <!-- fin de formulario -->
        <!-- Botones de opciones -->
        <div class="text-right">
            <button type="button" class="btn btn-outline-secondary button-nexo" (click)="toggle()">Cerrar</button>
            <button type="button" class="btn btn-primary ml-2 button-nexo mr-2" (click)="cambio(REGRESAR)"
                *ngIf="seccion>1">Regresar</button>
            <button type="button" class="btn btn-primary ml-2 button-nexo mr-2" (click)="cambio(SEGUIR)"
                *ngIf="seccion<3">Siguiente</button>
            <button type="button" class="btn btn-primary ml-2 button-nexo mr-2" (click)="toggle()"
                *ngIf="seccion===3">Guardar</button>
        </div>
        <!-- Fin de botones de opciones -->
    </div>
    <!-- fin parte interna del modal -->
</div>
<!-- fin del modal -->