<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-carrito-producto-heading" jhiTranslate="nexoApp.carritoProducto.home.createOrEditLabel">Create or edit a Carrito Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.cantidad" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.precioCompra" for="field_precioCompra">Precio Compra</label>
                    <input type="number" class="form-control" name="precioCompra" id="field_precioCompra"
                           formControlName="precioCompra"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.costoDelivery" for="field_costoDelivery">Costo Delivery</label>
                    <input type="number" class="form-control" name="costoDelivery" id="field_costoDelivery"
                           formControlName="costoDelivery"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.producto" for="field_producto">Producto</label>
                    <select class="form-control" id="field_producto" name="producto" formControlName="productoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productoOption.id" *ngFor="let productoOption of productos; trackBy: trackProductoById">{{productoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.carritoProducto.carrito" for="field_carrito">Carrito</label>
                    <select class="form-control" id="field_carrito" name="carrito" formControlName="carritoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carritoOption.id" *ngFor="let carritoOption of carritos; trackBy: trackCarritoById">{{carritoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
