<!-- Formulario -->

<!-- primera linea -->
<div class="row margin-nexo pt-2">
    <!-- pais -->
    <div class="col-3" *ngIf="paises?.length>0">
        <label class="mb-0">País</label>
        <select class="custom-select" #paisSelect (change)='paisChange(paisSelect.value)'>
            <option *ngFor="let pais of paises" [value]="pais.id">{{pais.nombre}}</option>
        </select>
    </div>
    <!-- Region -->
    <div class="col-3" *ngIf="regiones?.length>0">
        <label class="mb-0">Región</label>
        <select class="custom-select" #regionSelect (change)='regionChange(regionSelect.value)'>
            <option *ngFor="let region of regiones" [value]="region.id">{{region.nombre}}</option>
        </select>
    </div>
    <!-- comuna -->
    <div class="col-3" *ngIf="comunas?.length>0">
        <label class="mb-0">Comuna</label>
        <select class="custom-select" #comunaSelect>
            <option *ngFor="let comuna of comunas" [value]="comuna.id">{{comuna.nombre}}</option>
        </select>
    </div>
    <!-- Boton agregar -->
    <div class="col-3" *ngIf="comunas?.length>0">
        <button class="btn btn-primary mt-4" type="button">Agregar Comuna</button>
    </div>
</div>
<!-- fin primera linea -->


<!-- Segunda linea -->
<div class="row margin-nexo pt-2">
    <div class="col-5">
        <label class="mb-0">Comuna:</label>
        <input type="text" class="form-control" placeholder="Nombre de Comuna" disabled />
    </div>
    <div class="col-2">
        <label class="mb-0">Precio-Individual:</label>
        <input type="text" class="form-control" placeholder="(Requerido)" />
    </div>
    <div class="col-2">
        <label class="mb-0">Precio-Al-Mayor:</label>
        <input type="text" class="form-control" placeholder="(opcional)" />
    </div>
    <div class="col-3">
        <label class="mb-0">Mayor-después-de:</label>
        <input type="text" class="form-control" placeholder="(opcional)" />
    </div>

</div>
<!-- fin Segunda linea -->



<!--fin Sexta linea -->
<!-- fin de formulario -->