<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-direccion-heading" jhiTranslate="nexoApp.direccion.home.createOrEditLabel">Create or edit a Direccion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.direccion.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.direccion.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.direccion.principal" for="field_principal">Principal</label>
                    <input type="checkbox" class="form-control" name="principal" id="field_principal"
                           formControlName="principal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.direccion.comuna" for="field_comuna">Comuna</label>
                    <select class="form-control" id="field_comuna" name="comuna" formControlName="comunaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comunaOption.id" *ngFor="let comunaOption of comunas; trackBy: trackComunaById">{{comunaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexoApp.direccion.persona" for="field_persona">Persona</label>
                    <select class="form-control" id="field_persona" name="persona" formControlName="personaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id" *ngFor="let personaOption of personas; trackBy: trackPersonaById">{{personaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
