<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexoApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto"
            [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="nexoApp.producto.home.createLabel">
                Create a new Producto
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br />

    <div class="alert alert-warning" *ngIf="productos?.length === 0">
        <span jhiTranslate="nexoApp.producto.home.notFound">No tienes productos</span>
    </div>
    <div *ngIf="productos?.length > 0">
        <div *ngFor="let producto of productos">
            <button>asdda</button>
        </div>
    </div>
    <!-- Inicio Paginador -->
    <ul *ngIf="paginas?.length>1" class="pagination">
        <li class="page-item" *ngIf="paginador.number>0">
            <a (click)="paginar(paginador.number-1)" class="page-link">&laquo;</a>
        </li>

        <li [ngClass]="paginador.first?'disabled page-item':'page-item'">
            <a (click)="paginar(0)" class="page-link">Primera</a>
        </li>

        <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="pagina-1===paginador.number?'active':''">
            <span *ngIf="pagina-1 ===paginador.number" class="page-link">{{pagina}}</span>
            <a *ngIf="pagina-1 !==paginador.number" (click)="paginar(pagina-1)" class="page-link">{{pagina}}</a>
        </li>

        <li [ngClass]="paginador.last?'disabled page-item':'page-item'">
            <a (click)="paginar(paginador.totalPages-1)" class="page-link">Última</a>
        </li>


        <li class="page-item" *ngIf="paginador.number<paginador.totalPages-1">
            <a (click)="paginar(paginador.number+1)" class="page-link">&raquo;</a>
        </li>
    </ul>
    <!-- Fin Paginador -->
</div>