<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comuna">
            <h2><span jhiTranslate="nexoApp.comuna.detail.title">Comuna</span> {{comuna.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexoApp.comuna.nombre">Nombre</span></dt>
                <dd>
                    <span>{{comuna.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="nexoApp.comuna.region">Region</span></dt>
                <dd>
                    <div *ngIf="comuna.regionId">
                        <a [routerLink]="['/region', comuna.regionId, 'view']">{{comuna.regionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comuna', comuna.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
